<div class="home">
    <a href="/">
        <button> H </button>
    </a>
</div>
<div class="account">
    <a href="/singup">
        <button>SingUp</button>
    </a>
    <a href="/login">
        <button>LogIn</button>
    </a>
    <a href="/logout">
        <button>LogOut</button>
    </a>
</div>