<html>

<head>

</head>

<body>
    <%- include("./components/principali.ejs") %>
        <% dati.filter(item=>{ %>
            <h1>
                <%= item.nome %>
                    <%= item.quantita %>
            </h1>
            <% }) %>
</body>

</html>