<html>

<head>

</head>

<body>
    <%- include("./components/principali.ejs") %>
        <a href="/shop">
            <button>shop</button>
        </a>
        <% dati.filter(item=>{ %>
            <h1>
                <%= item.nome %>
                    <%= item.quantita %>
            </h1>
            <% }) %>
</body>

</html>