<html>

<head>

</head>

<body>
    <%- include("./components/principali.ejs") %>
        <div class="isole">
            <a href="/shop">
                <button>shop</button>
            </a>
            <a href="/vendi">
                <button>vendi</button>
            </a><br>
        </div>
        <h2>
            token
            <%= token[0].token %>
        </h2><br>
        <% dati.filter(item=>{ %>
            <h2>
                <%= item.nome %>
                    <%= item.quantita %>
            </h2>
            <% }) %>

                <script>
                    setTimeout(function() {
                        window.location.reload()
                    }, 3000);
                </script>

</body>

</html>