<html>

<head>
</head>

<body>
    <%- include("./components/principali.ejs") %>
        <h1>home</h1>
        <form action="/" method="post">
            <button name="isole">vai all'isola</button>
        </form>
        <h1>Cos'è Nuxta</h1>
        <h3>nuxta è idle game dove lo scopo è guadagnare più<br> token possibili ci sono 4 categorie da tenere <br> sott'occhio, il cibo, l'acqua, le persone e le <br> strutture ogni categoria è fondamentale per le altre <br> ad esempio per aumentare più
            velocemente le<br> persone il modo migliore è aumentare l'acqua <br>ora tocca a te trovare i modi migliori<br> per guadagnare più velocemente <br>Buona Fortuna!!!</h3>
</body>

</html>