<html>

<head>
</head>

<body>
    <%- include("./components/principali.ejs") %>
        <h1>home</h1>
        <form action="/" method="post">
            <button name="isole">vai all'isola</button>
        </form>
</body>

</html>