<html>

<head>

</head>

<body>
    <%- include("./components/principali.ejs") %>
        <a href="/generale">
            <button>torna all'isola</button>
        </a><br><br><br>
        <% cibo.forEach((item)=>{ %>
            <form action="/shop" method="post" name="cibo">
                <input type="hidden" value="<%= item.id %>" name="inputCibo">
                <input type="hidden" value="<%= item.nome %>" name="nomeCibo">
                <button class="btn btn-outline-success"> compra <%= item.nome %></button>
            </form>
            <% }) %>

</body>

</html>